<div class="promo">
  <div class="promo-row">
    <div class="promo-chat">
      <p>
        <span class="username viewer-one">Viewer</span>: How long has the streamer been live? @WatBott<br>
        <span class="username bot">WatBott</span>: Streamer has been live for 1 hour and 18 minutes.
      </p>
      <p>
        <span class="username viewer-two">Viewer</span>: !uptime<br>
        <span class="username bot">WatBott</span>: Streamer has been live for 1 hour and 18 minutes.
      </p>
      <p>
        <span class="username viewer-three">Viewer</span>: Streamer live time watbott?<br>
        <span class="username bot">WatBott</span>: Streamer has been live for 1 hour and 18 minutes.
      </p>
    </div>
    <div class="promo-desc">
      <h2>
        More than a chatbot
      </h2>
      <p>
        WatBott is a virtual assistant, powered by Watson Assistant,
        that understands your questions in the numerous ways they are asked.
      </p>
    </div>
  </div>
  <div class="promo-row reverse">
    <div class="promo-chat">
      <p>
        <span class="username viewer-one">Viewer</span>: WatBott tell me a joke.<br>
        <span class="username bot">WatBott</span>: Ever tried to eat a clock? It's time-consuming.
      </p>
      <p>
        <span class="username viewer-two">Viewer</span>: 8-ball will I ever ask the right questions? @WatBott<br>
        <span class="username bot">WatBott</span>: Ask again later.
      </p>
      <p>
        <span class="username viewer-three">Viewer</span>: @Watbott I love you.<br>
        <span class="username bot">WatBott</span>: Thank you.
      </p>
    </div>
    <div class="promo-desc">
      <h2>
        Say what's on your mind
      </h2>
      <p>
        Chat with WatBott to ask for jokes, magic 8-ball questions, or whatever
        you're feeling. Don't ask any personal information, you won't get
        anywhere.
      </p>
    </div>
  </div>
  <div class="bottom-twitch-login">
    <app-login-twitch icon="twitch-logo-white" color="primary"></app-login-twitch>
  </div>
</div>
