h2 {
  font-size: 25px;
  font-weight: 400;
  margin: 0 0 16px;
  padding: 0;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  padding: 0;
}

.promo {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 16px;
}

.promo-row {
  display: flex;
  max-width: 920px;
  margin: 60px 0;
}

.promo-chat {
  padding: 15px;
  margin: 0px 15px;
  border-radius: 15px;
  background: #0e0c13;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 50%;
}

.promo-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.reverse {
  flex-direction: row-reverse;
}

.username {
  font-weight: 600;
}

.viewer-one {
  color: #228b22;
}

.viewer-two {
  color: #0047ab;
}

.viewer-three {
  color: #ff8c00;
}

.bot {
  color: #673ab7;
}

.bottom-twitch-login {
  text-align: center;
}

@media (max-width: 720px) {
  .promo-row {
    margin: 15px 0;
  }

  .bottom-twitch-login {
    margin-top: 30px;
  }
}
