<app-page-header title="About"></app-page-header>
<div class="promo">
  <div class="promo-row">
    <div class="promo-icon">
      <mat-icon>chevron_left</mat-icon>
      <mat-icon>mood</mat-icon>
      <mat-icon>mood</mat-icon>
      <mat-icon>mood</mat-icon>
      <mat-icon>chevron_right</mat-icon>
    </div>
    <div class="promo-desc">
      <h2>
        Aliqua minim fugiat exercitation cupidatat sit eu.
      </h2>
      <p>
        Velit aute occaecat non incididunt dolore est esse veniam fugiat laboris qui ullamco irure. Officia ipsum ex exercitation sit consequat sunt. Culpa laborum in voluptate aliqua do laborum minim adipisicing esse est. Officia nisi incididunt ipsum ad consequat.
      </p>
    </div>
  </div>
  <div class="promo-row reverse">
    <div class="promo-icon">
      <mat-icon>chevron_left</mat-icon>
      <mat-icon>mood</mat-icon>
      <mat-icon>mood</mat-icon>
      <mat-icon>mood</mat-icon>
      <mat-icon>chevron_right</mat-icon>
    </div>
    <div class="promo-desc">
      <h2>
        Eu exercitation voluptate adipisicing commodo sit aliqua nisi aliquip et.
      </h2>
      <p>
        Occaecat nisi in adipisicing commodo deserunt sit. Tempor aute exercitation irure deserunt sint dolore in qui quis. Laborum aliquip nostrud magna labore ea. Reprehenderit esse velit aute quis pariatur sunt. Lorem nisi non anim quis aute officia minim commodo ad laborum aliqua. Sit sunt irure mollit in Lorem laborum deserunt cillum laborum dolor ipsum duis.
      </p>
    </div>
  </div>
</div>
