mat-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 650px;
  min-height: 700px;
  margin: 12px;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 720px) {
  mat-card {
    min-width: 250px;
    min-height: 550px;
  }
}
