<app-page-header title="Dashboard"></app-page-header>

<mat-tab-group>
  <mat-tab label="General">
    <mat-card>
      <mat-card-title>Title</mat-card-title>
      <mat-card-content>
        <p>Dolore reprehenderit nisi velit qui veniam laboris in veniam laboris dolor consectetur aliqua quis. Ipsum
          laborum dolor magna exercitation excepteur. Qui in aliquip Lorem consequat ea magna fugiat mollit labore
          pariatur dolore. Deserunt commodo ex labore minim irure tempor incididunt in. Cillum non pariatur qui
          consequat velit.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Title</mat-card-title>
      <mat-card-content>
        <p>Dolore reprehenderit nisi velit qui veniam laboris in veniam laboris dolor consectetur aliqua quis. Ipsum
          laborum dolor magna exercitation excepteur. Qui in aliquip Lorem consequat ea magna fugiat mollit labore
          pariatur dolore. Deserunt commodo ex labore minim irure tempor incididunt in. Cillum non pariatur qui
          consequat velit.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Title</mat-card-title>
      <mat-card-content>
        <p>Dolore reprehenderit nisi velit qui veniam laboris in veniam laboris dolor consectetur aliqua quis. Ipsum
          laborum dolor magna exercitation excepteur. Qui in aliquip Lorem consequat ea magna fugiat mollit labore
          pariatur dolore. Deserunt commodo ex labore minim irure tempor incididunt in. Cillum non pariatur qui
          consequat velit.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Commands">
    <mat-card>
      <mat-card-title>Title</mat-card-title>
      <mat-card-content>
        <p>Dolore reprehenderit nisi velit qui veniam laboris in veniam laboris dolor consectetur aliqua quis. Ipsum
          laborum dolor magna exercitation excepteur. Qui in aliquip Lorem consequat ea magna fugiat mollit labore
          pariatur dolore. Deserunt commodo ex labore minim irure tempor incididunt in. Cillum non pariatur qui
          consequat velit.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Title</mat-card-title>
      <mat-card-content>
        <p>Dolore reprehenderit nisi velit qui veniam laboris in veniam laboris dolor consectetur aliqua quis. Ipsum
          laborum dolor magna exercitation excepteur. Qui in aliquip Lorem consequat ea magna fugiat mollit labore
          pariatur dolore. Deserunt commodo ex labore minim irure tempor incididunt in. Cillum non pariatur qui
          consequat velit.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Title</mat-card-title>
      <mat-card-content>
        <p>Dolore reprehenderit nisi velit qui veniam laboris in veniam laboris dolor consectetur aliqua quis. Ipsum
          laborum dolor magna exercitation excepteur. Qui in aliquip Lorem consequat ea magna fugiat mollit labore
          pariatur dolore. Deserunt commodo ex labore minim irure tempor incididunt in. Cillum non pariatur qui
          consequat velit.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Title</mat-card-title>
      <mat-card-content>
        <p>Dolore reprehenderit nisi velit qui veniam laboris in veniam laboris dolor consectetur aliqua quis. Ipsum
          laborum dolor magna exercitation excepteur. Qui in aliquip Lorem consequat ea magna fugiat mollit labore
          pariatur dolore. Deserunt commodo ex labore minim irure tempor incididunt in. Cillum non pariatur qui
          consequat velit.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
