mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 720px) {
}
