mat-tab-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 920px;
  height: 700px;
  margin: 12px;
}
