.flex-spacer {
  flex: 1 1 auto;
}

.icon-logo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.mobile-only {
  display: none;
}

@media (max-width: 720px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: flex;
  }
}
