<mat-toolbar class="mat-elevation-z6" color="primary">
  <a mat-button routerLink="/" routerLinkActive="active">
    <img class="icon-image" [src]="watbottImage"> WatBott
  </a>
  <a mat-button routerLink="/about" routerLinkActive="active">
    About
  </a>
  <span class="flex-spacer"></span>
  <app-login-twitch text="Login" icon="twitch-purple" color="secondary" *ngIf="!isAuthenticated"></app-login-twitch>
  <app-socials class="desktop-only" showText="true" *ngIf="!isAuthenticated"></app-socials>
  <button mat-button [matMenuTriggerFor]="userMenu" *ngIf="isAuthenticated">
    <mat-icon *ngIf="!profileImage">person</mat-icon>
    <img class="icon-image" [src]="profileImage" *ngIf="profileImage">
    <span class="desktop-only"> {{ login }}</span>
  </button>
  <mat-menu #userMenu="matMenu">
    <a mat-menu-item routerLink="/dashboard" routerLinkActive="active">
      Dashboard
    </a>
    <a mat-menu-item (click)="logout()">
      Logout
    </a>
  </mat-menu>
</mat-toolbar>
