<mat-toolbar class="mat-elevation-z6" color="primary">
  <a mat-button routerLink="/" routerLinkActive="active">
    <img class="icon-logo" [src]="watbottPath"> WatBott
  </a>
  <a *ngIf="isAuth" mat-button routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a mat-button routerLink="/about" routerLinkActive="active">About</a>
  <span class="flex-spacer"></span>
  <a mat-button class="desktop-only" [href]="twitterUrl">
    <mat-icon class="icon-logo" svgIcon="twitter-logo"></mat-icon> Twitter
  </a>
  <a mat-button class="desktop-only" [href]="githubUrl">
    <img [src]="githubPath"> GitHub
  </a>
  <button mat-button class="mobile-only" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item [href]="twitterUrl">Twitter</a>
    <a mat-menu-item [href]="githubUrl">GitHub</a>
  </mat-menu>
</mat-toolbar>
