mat-icon {
  padding: 0 20px;
}

h2 {
  font-size: 25px;
  font-weight: 400;
  margin: 0 0 16px;
  padding: 0;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  padding: 0;
}

.promo {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 16px;
}

.promo-row {
  display: flex;
  max-width: 920px;
  margin: 60px 0;
}

.promo-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 15px;
  background: #673ab7;
  border-radius: 15px;
  width: 50%;
}

.promo-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.reverse {
  flex-direction: row-reverse;
}

@media (max-width: 720px) {
  mat-icon {
    padding: 0;
  }

  .promo-row {
    margin: 15px 0;
  }
}
