<div class="connection-wrapper">
  <mat-icon *ngIf="!isConnected">mood_bad</mat-icon>
  <mat-icon *ngIf="isConnected">mood</mat-icon>
  <p *ngIf="!isConnected">
    WatBott is not connected to your chat!
  </p>
  <p *ngIf="isConnected">
    WatBott is connected to your chat.
  </p>
  <mat-chip-list>
    <mat-chip class="connect" (click)="joinChannel()" *ngIf="!isConnected">
      Connect
    </mat-chip>
    <mat-chip class="disconnect" (click)="partChannel()" *ngIf="isConnected">
      Disconnect
    </mat-chip>
  </mat-chip-list>
</div>
<mat-divider></mat-divider>
<div class="chat-wrapper">
  <h3 mat-subheader>
    Chat examples:
  </h3>
  <p class="chat-subheader">
    <small>
      (Don't forget to tag or mention WatBott in your message)
    </small>
  </p>
  <mat-list class="chat">
    <mat-list-item>
      <mat-icon>arrow_right_alt</mat-icon>
      "How long has this streamer been live?"
    </mat-list-item>
    <mat-list-item>
      <mat-icon>arrow_right_alt</mat-icon>
      "Magic 8ball is pizza my one true love?"
    </mat-list-item>
    <mat-list-item>
      <mat-icon>arrow_right_alt</mat-icon>
      "Tell me a joke."
    </mat-list-item>
  </mat-list>
</div>
