h1,
h2 {
  font-weight: 300;
  line-height: 18px;
}

h1 {
  font-size: 56px;
  line-height: 56px;
  margin: 15px 5px;
}

h2 {
  font-size: 18px;
  line-height: 18px;
  margin: 15px 0 25px;
}

.header-background {
  overflow: hidden;
  background: #673ab7;
}

.header-section {
  text-align: center;
  padding-top: 60px;
}

.header-headline {
  color: #ffffff;
}

.header-login {
  text-align: center;
  margin: 60px 0;
}

@media (max-width: 720px) {
  .header-section {
    padding-top: 15px;
  }

  .header-login {
    margin: 15px 0;
  }
}
