<div class="connection-wrapper">
  <mat-icon *ngIf="!isInChannel">mood_bad</mat-icon>
  <mat-icon *ngIf="isInChannel">mood</mat-icon>
  <p *ngIf="!isInChannel">
    WatBott is not connected to your chat!
  </p>
  <p *ngIf="isInChannel">
    WatBott is connected to your chat.
  </p>
  <mat-chip-list>
    <mat-chip class="connect" (click)="joinChannel()" *ngIf="!isInChannel">
      Connect
    </mat-chip>
    <mat-chip class="disconnect" (click)="partChannel()" *ngIf="isInChannel">
      Disconnect
    </mat-chip>
  </mat-chip-list>
</div>
<mat-divider></mat-divider>
<div class="chat-wrapper">
  <div class="chat-header">
    <h3 mat-subheader>
      Chat examples:
    </h3>
    <span class="flex-spacer"></span>
    <small>
      (Don't forget to tag or mention "WatBott" in your message)
    </small>
  </div>
  <mat-list class="chat-content">
    <mat-list-item>
      <mat-icon>arrow_right_alt</mat-icon>
      "How long has this streamer been live?"
    </mat-list-item>
    <mat-list-item>
      <mat-icon>arrow_right_alt</mat-icon>
      "Magic 8ball is pizza my one true love?"
    </mat-list-item>
    <mat-list-item>
      <mat-icon>arrow_right_alt</mat-icon>
      "Tell me a joke."
    </mat-list-item>
  </mat-list>
</div>
